#centerDiv
{
	text-align: center;
	
	width: 90%;
	max-width: 600px;
	
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	
	background: rgba(68, 68, 68, .7);
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
}
#centerDiv h2
{
	color: rgba(255, 255, 255, 0.9);
}

.acc-div
{
	text-align: center;
	/*border: #ff1212 1px solid;*/
	/*border: #ff1212 2px solid;*/
}

.img-div
{
	/*display: inline-block;*/
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
	/*border: #ff1212 2px solid;*/
}

.accImg
{
	position: relative;
	
	width: 100px;
	height: 100px;
	
	overflow: hidden;
	
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	color: #fff;
	background:rgba(0, 0, 0, 0.3);
	display: none;
	
	text-align: center;
	
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}

.accImg:hover .overlay
{
	display: block;
}

.accInfo
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
}
.contactInfo
{
	/*margin-left: auto;
	margin-right: auto;
	width: 200px;
	font-size: 15px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.9);
	text-align: left;*/
	
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: 40%;
	min-width: 200px;
	margin: 10px;
	padding: 2px;
	
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	text-align: center;
	color: white;
	font-size: 1.3em;
	font-weight: 900;
	
	border-radius: 5px;
    /*border: white 2px solid;*/
    background: rgba(192, 57, 43, 0.7);
	
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.columnText
{
	font-weight: bold;
	padding: .3em;
	display: table-cell;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.9);
}

.inputCss
{
	width: 90%;
	max-width: 800px;
	padding: 5px 15px;
	margin-top:5px;
	font-weight: 400;
	font-size: 20px;
	border: 2px solid #b5b5b5;
	border-radius: 5px;
	color: #666666;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.inputCss:focus
{
	background: #FFF;
	color: #414848;
	outline: 0;
}
.inputCss:hover
{
	border:2px solid #609EC3;
	color: #414848;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.signError
{
	text-align: center;
	line-height:30px;
	
	font-size: 20px;
	color: rgba(255, 117, 117, 0.8);
}
.msg
{
	height: 30px;
	text-align: center;
	line-height:30px;
	
	font-size: 20px;
	color: rgba(255, 117, 117, 0.8);
}